/* styles.module.css */

/* Add responsive styles using media queries */
@media (max-width: 768px) {
    #MainLayout {
      min-width: 100%;
      max-width: 100%;
    }
  }
  

  /* Add responsive styles using media queries */
@media (max-width: 880px) {
  #MainLayout {
    min-width: 100%;
    max-width: 100%;
  }
}